@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>If you have ever played a tabletop RPG, or any variation thereof, you may understand the critical need for a simple, and lightweight app designed to get you into a group.</p>
<p>RPGGroupFinder is here for you and your game, whether you are a player or a GM, beginner or highly experienced.</p>
