@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Dirkers Drive<br />
    St.Louis, Missouri 63146<br />
    <abbr title="Phone">P:</abbr>
    (314) 757 - 5552
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rpggroupfinder@gmail.com">RPGGroupFinder@gmail.com</a><br/>
    <strong>Marketing:</strong> <a href="mailto:alexanderdirkers@gmail.com">AlexanderDirkers@gmail.com</a>
</address>