@{
    ViewBag.Title = "Home Page";
}
    <section id="main" class="wrapper">
        <div class="inner">
            <div>
                <h2>RPGGroupFinder</h2>
                <p>RPGGroupFinder is here to get you in a group, find your medium, and get a tabletop, virutal tabletop or LARP game running quickly.</p>
                </div>

            <div class="row">
                
                
                
            </div>
        </div>    
</section>